@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --main-text: #1B2141;
  --primary: #566DED;
  --secondary: #FF7042;
  --badge: #EBECF5;
  --secondary-text: #87899C;
  --foregroundText: #ffffff;
}

html {
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --main-text: #ededed;
    --badge: #232324;
    --secondary-text: #64666f;
  }
}

body {
  color: var(--main-text);
  background: var(--background);
  font-size: 1rem;
}
